<body>
    <mat-toolbar class="narvar">
        <span routerLink="/">LIFETRAVEL</span>
    </mat-toolbar>
    <section class="main-container">
        <div class="back-img">
        </div>
        <div class="forms">
            <div class="Encabezado">
                <h1>
                    Inicio de seccion Agencia
                </h1>
            </div>
            <div class="login-struct">
                <form action="">
                    <div class="registro">
                        <label for="email">Email:</label>
                    </div>
                    <input type="email" id="femail" name="email" placeholder="Email"><br><br>

                    <div class="registro">
                        <label for="lpasword">Contraseña:</label>
                    </div>
                    <input type="password" id="lpasword" name="lpasword" placeholder="Contraseña"><br><br>

                    <button class="btn-success" type="submit" routerLink="/homeAgency">
                        Inicia Sesión
                    </button>
                </form>
            </div>
        </div>
    </section>
</body>
