.narvar {
    background-color: #6DA7D6;
}

span {
    color: #108CFF;
    cursor: pointer;
}

.main-container {
    display: flex;
}

.main-container .back-img {
    width: 900px;
    height: 600px;
    padding: 10px;
    margin: 70px;
    background-image: url('./img/login.jpg');
}

h1 {
    text-align: center;
}

.forms {
    /* background-color: rgb(188, 243, 241);*/
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.16);
    display: inline;
    justify-content: center;
    padding: 50px;
    margin: 50px;
}

.login-struct {
    margin: 50px;
    background-color: rgb(rgb(207, 252, 242), );
}

.registro {
    display: flexbox;
    padding: 15px;
}

input {
    width: 350px;
    padding: 10px;
}

#femail {
    border-radius: 10px;
    border: 0;
    background-color: #ECF8F7;
    border-width: 3px;
}

#lpasword {
    border-radius: 10px;
    border: 0;
    background-color: #ECF8F7;
    border-width: 3px;
}

#lname {
    border-radius: 10px;
    border: 0;
    background-color: #ECF8F7;
    border-width: 3px;
}

#lastname {
    border-radius: 10px;
    border: 0;
    background-color: #ECF8F7;
    border-width: 3px;
}

#lphone {
    border-radius: 10px;
    border: 0;
    background-color: #ECF8F7;
    border-width: 3px;
}

.btn-success {
    display: inline-block;
    background-color: #00A991;
    border: 0px;
    margin: 20px;
    border-radius: 4px;
    padding: 8px 25px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.btn-agency {
    display: inline-block;
    background-color: #00A991;
    border: 0px;
    margin: 20px;
    border-radius: 4px;
    padding: 8px 25px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}