<section>
    <mat-toolbar class="narvar">
        <span>LIFETRAVEL</span>
    </mat-toolbar>
    <div class="main-container">
        <div class="login-struct">
            <div class="titles">
                <h1>
                    Agencia: Monacheco
                </h1>
            </div>
            <div class="login-st">
                <div class="btn-container">
                    <div>
                        <button class="btn1" routerLink="/agency-destino">Destino</button>
                    </div>
                    <div>
                        <button class="btn2">Servicios</button>
                    </div>
                    <div>
                        <button class="btn3">Reservas Activas</button>
                    </div>
                    <div>
                        <button class="btn4">Reseñas</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="back-img">
        </div>
    </div>
</section>
