<body>
  <mat-toolbar class="narvar">
    <span>LIFETRAVEL</span>
  </mat-toolbar>
  <section class="main-container">
    <div class="back-img"></div>
    <div class="login-struct">
      <div class="titles">
        <h1>!Viaja de una manera facil y rapida!</h1>
        <h2>Inicia sesion como</h2>
      </div>
      <div class="login-st">
        <div class="bts">
          <button class="btn1" [routerLink]="'/login/user'">Usuario</button>
          <button class="btn2" routerLink="/login/agency">Agencia</button>
        </div>
      </div>
      <div class="titles">
        <h1>¿Aun no te registras?</h1>
      </div>
      <div class="login-st">
        <div class="bts">
          <button class="btn3" routerLink="/register">Registrate</button>
        </div>
      </div>
    </div>
  </section>
</body>
